@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

/* Navbar Drop Down start */
.mainContent {
  display: inline;
  position: relative;
}

.content {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 120px;
  display: none;
  padding: 20px 0px;
  height: auto;
}

.content a {
  background: rgb(6, 6, 6);
  color: rgb(255, 255, 255);
  display: block;
  padding: 5px 10px;
  margin: 0px 10px;
}

.content a:hover {
  background: rgb(54, 54, 54);
  color: white;
}

.mainContent:hover .content {
  display: block;
}

/* 2 */
.secondMainContent {
  display: inline;
  position: relative;
  background: rgb(196, 193, 193);
}

.secondContent {
  position: absolute;
  top: -7px;
  left: 100px;
  width: 130px;
  display: none;
  padding: 10px 0px;
  height: auto;
}

.secondContent a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 5px 10px;
  margin: 0px 10px;
}

.secondMainContent:hover .secondContent {
  display: block;
}
/* Navbar Drop Down end */

/* Auto Slider  */

.sliderAuto {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
}

.slider_track {
  display: flex;
  width: calc(400px * 18);
  animation: slided 60s linear infinite;
}

.slider_track:hover {
  animation-play-state: paused;
}

.sliderAuto .slide {
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slideImg {
  width: 100%;
  transition: all 1s ease-in-out;
}

.slideImg:hover {
  transform: translateZ(10px);
}

@keyframes slided {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 9));
  }
}

/* swiper slider  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
